<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.example.scm_three"
        android:value="nF1ire8VAut/bxf/3q121RyUaCpYtufrqvqVF2+igMnhqCbhGcAZVHB0ybab4s2xZmv3criamJ1aYVxx6I9vIZNpFK46nSIolOONzJOEKBo=" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TIPLservice"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DActivity.support_call"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".Activities.CalldetailsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activities.Splashscreen"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>